body
  color: #4e454e
  background-color: #040004

#field
  border-collapse: collapse
  th
    border: 1px solid #4e454e
  td
    width: 50px
    height: 50px
    text-align: center
    font-size: x-large
    border: 1px solid #4e454e
    &.movable-card
      background-color: #14001b
      &:hover
        background-color: #1b000d
    &.summonable-zone
      background-color: #14001b
      &:hover
        background-color: #1b000d
    &.motion-scope
      background-color: #14001b
      &:hover
        background-color: #1b000d
    &.your-card
      color: #fa023c
    &.computers-card
      transform: rotate(180deg)
      color: #c8ff00

ol.hand
  list-style: none
  li
    display: inline-block
    margin: 0 3px
    font-size: x-large

ol.hand
  li
    &#obj-of-summon
      color: #fa023c
      &:hover
        color: #fa023c
    &.selectable-hand
      color: #e100fd
      &:hover
        color: #ff00b3
a
  &:link
    color: #9900ff
  &:visited
    color: #ff00bb
  &:hover
    color: #de00ff
    text-decoration: none

hr
  border: 1px solid #c8ff00
