body
  color: #490a3d

#field
  border-collapse: collapse
  th
    border: 1px solid #b9b9b9
  td
    width: 50px
    height: 50px
    text-align: center
    font-size: x-large
    border: 1px solid #b9b9b9
    &.summonable-zone
      background-color: #ffeeee
      &:hover
        background-color: #ffdddd
    &.your-card
      color: #bd1550
    &.computers-card
      color: #00ff00

ol.hand
  list-style: none
  li
    display: inline-block
    margin: 0 3px
    font-size: x-large

#yours ol.hand
  li
    &#obj-of-summon
      color: #bd1550
      &:hover
        color: #bd1550
    &.selectable-hand
      color: #e97f02
      &:hover
        color: #f8ca00
    &.sacrifice
      color: #bd1550
      &:hover
        color: #bd1550
